* {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Roboto';
  background-color: #13243A;
}
body {
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 600px;
}

.App-header {
  display: flex;
  justify-content: center;
  color: white;
  background: #4F5F74;
  height: 50px;
  width: 100%;

  & > div:first-child {
    display: flex;
    justify-content: center;
    justify-self: flex-start;
    margin-right: auto;
    font-size: 38px;
    width: 50px;
  }

  & .title {
    font-size: 38px;
    height: 50px;
    margin-right: auto;
    position: absolute;
    top: 0px;
  }
}

.content {
  flex-grow: 1;
  color: white;
  background-color: #233349;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-text {
  width: 100%;
  border-radius: 5px;
  padding: 20px 10px;
  margin-top: 20px;
  font-size: 24px;
  line-height: 28px;
  box-sizing: border-box;
}

.input-number {
  width: 100%;
  border-radius: 5px;
  padding: 20px 10px;
  margin-top: 20px;
  font-size: 24px;
  line-height: 28px;
}

.button-wide {
  margin-top: 20px;
  width: 100%;
  background-color: #66FCF1;
  border-radius: 12px;
  padding: 20px 10px;
  font-size: 24px;
  line-height: 28px;
}

.button-small {
  margin-top: 20px;
  width: 20%;
  background-color: #66FCF1;
  border-radius: 12px;
  padding: 20px 10px;
  font-size: 24px;
  line-height: 28px;
}

table {
	border-collapse: collapse;
  width: 100%;
}
table td {
	padding: 15px;
}
table thead td {
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
}
table tbody td {
	border: 1px solid #dddfe1;
}
table tbody tr {
	/* background-color: rgba(0, 0, 255, 0.3); */
}
table tbody tr:nth-child(odd) {
	background-color: rgba(5,5,5, 0.15);
}